.container {
	display: flex;
	position: relative;
	margin-right: 10px;
}

.imageWrapper {
	width: 125px;
}

.img {
	width: 100%;
	height: 150px;
	border-radius: 20px;
}

.info {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 11px;
	border-radius: 20px;
	color: #3e3939;
	margin: 5px;
	padding: 5px;
	background-color: rgb(220, 228, 235);
	opacity: 50%;
}

.title {
	font-size: 14px;
	font-weight: 600;
}

.desc:nth-child(1):after {
	content: "|";
	margin: 0 3px;
}
