@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap");

* {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Lato", sans-serif;
}

.my-masonry-grid {
	display: -webkit-box; /* Not needed if autoprefixing */
	display: -ms-flexbox; /* Not needed if autoprefixing */
	display: flex;
	margin-left: -3px; /* gutter size offset */
	width: auto;
}
.my-masonry-grid_column {
	padding-left: 12px; /* gutter size */
	background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
	/* change div to reference your elements you put in <Masonry> */
	margin-bottom: 17px;
}
