.container {
	position: absolute;
	display: flex;
	justify-content: center;
}

.button {
	width: 280px;
	height: 42px;
	color: #f7f1e5;
	font-size: 21px;
	font-weight: 600;
	border-radius: 10px;
	border: none;
	background-color: #ff8303;
	cursor: pointer;
}

.button:hover {
	opacity: 80%;
}
