.subtitle {
	font-size: 20px;
	margin: 7px 0;
}

.recipeWrapper {
	display: flex;
	padding: 0;
	padding-bottom: 5px;
	/* margin-bottom: 5px; */
	overflow-x: scroll;
}

.subtitleWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 10px;
}

.see_all {
	color: #ffffff;
	font-size: 14px;
	border: none;
	border-radius: 20px;
	padding: 6px;
	opacity: 80%;
	background-color: #d9534f;
	cursor: pointer;
}

.see_all:hover {
	opacity: 65%;
}
