.container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 45px;
	margin: 20px auto;
	border-radius: 20px;
	background-color: #ff8303c9;
	opacity: 90%;
}

.search {
	height: 16px;
	margin-left: 15px;
	fill: #f7f1e5;
}

.input {
	margin: 0 10px;
	width: 350px;
	height: 30px;
	font-size: 17px;
	font-weight: 600;
	color: #f7f1e5;
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
}

.input::placeholder {
	color: #f7f1e5;
}

.filterWrapper {
	display: flex;
	border-radius: 12px;
	padding: 7px;
	background-color: #f7f1e5;
	/* box-shadow: 1px 1px 1px 1px #e16641; */
	margin-right: 10px;
	cursor: pointer;
}

.filterWrapper:hover {
	opacity: 85%;
}

.filter {
	height: 15px;
}
